extends layout

block content
    .container
        .row
            .col-md-3
                include sidebar
            .col-md-9
                != messages('message', locals)
                if errors
                    ul.list-group.mb-3
                        each error, i in errors
                            li(class="list-group-item list-group-item-danger") #{error.msg}
                .card
                    .card-header.text-capitalize create a blog post
                    .card-body
                        form(method="POST", action="/article/add")
                            .form-group
                                label Title:
                                input.form-control(name="title",type="text",placeholder="title",value=title)
                            .form-group
                                label Body:
                                textarea.form-control(name="body", rows="5",placeholder="content body") #{body}
                            input.btn.btn-outline-success.mr-2(type="submit",value="Submit")
                            a.btn.btn-outline-danger(href="/dashboard") Cancel