.alert-error{
    color: #a94422;
    background-color: #f2dede;
    border: #ebccd1;
}
.alert-success_msg{
    color: #3c763d;
    background-color: #dff0d8;
    border: #d6e9c6;
}

/*small*/
@media(min-width:567px){
    .container{
        max-width:540px !important;
    }
}
/*medium*/
@media(min-width:768px){
    .container{
        max-width:720px !important;
    }
}
/*large*/
@media(min-width:992px){
    .container{
        max-width:720px !important;
    }
}
/*Extra large*/
@media(min-width:1200px){
    .container{
        max-width:720px !important;
    }
}